@import url(../App/App.css);

.subscription-success-container {
  padding-inline: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  color: hsl(var(--dark-slate-grey));
}

@media screen and (min-width: 768px) {
  .subscription-success-container {
    padding-inline: 30%;
  }
}
.subscription-success-container > * {
  margin-bottom: 0.8rem;
  font-size: 1rem;
}
.subscription-success-header {
  font-family: "Roboto-bold";
  font-size: 2rem;
}
.subscribed-email-address {
  font-family: "Roboto-bold";
  font-weight: bold;
}
.success-page-icon {
  width: 50px;
  aspect-ratio: 1;
}
.dismiss-button {
  border-radius: var(--border-radius);
  background: hsl(var(--dark-slate-grey));
  color: hsl(var(--white));
  border: 0;
  transition: var(--transition);
}
.dismiss-button:hover {
  cursor: pointer;
  background: rgb(255, 82, 82);
  background: linear-gradient(
    90deg,
    rgba(255, 82, 82, 1) 50%,
    rgba(255, 138, 82, 1) 100%
  );
  transition: var(--transition);
}
